#button {
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
}

#container {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.grid {
    height: 840px;
    width: 840px;
    display: flex;
    flex-direction: column;
}

.gridSquare {
    flex-grow: 1;
    flex-basis: 0;
    border-style: solid;
    border-width: 1px;
    background-color: lightgray;
}

.gridRow {
    height: 100%;
    flex-shrink: 1;
    display: flex;
    display: row;
}